<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'/ >

  <title>NW</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">

  <!-- Theme CSS -->
  <link href="css/nw-landing.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand page-scroll" href="#page-top">NW</a>
      </div>
    </div>
  </nav>

  <section id="home" class="download bg-primary text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img class="logo-home-section" src="img/logo400px-01.png" alt="">
          <div class="badges">
            <p><b>TERMS & CONDITIONS</b></p>
            <br>
            <p style="font-size: 12px; text-align: left;">1. <b>INTRODUCTION:</b> Welcome to our application (the “App“). This App is published by or on behalf of SM International Investments Corp (“SM” or “We” or “Us“) a company registered in USA by document number P16000006803 whose registered office at 2100 Coral Way (Suite 404), Miami FL.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">By downloading or otherwise accessing the App you agree to be bound by the following terms and conditions (“Terms“) and our privacy policy and our cookies policy. If you have any queries about the App or these Terms, you can contact us by any of the means set out in paragraph 11 of these Terms. If you do not agree with these Terms, you should stop using the App immediately.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">2. GENERAL RULES RELATING TO CONDUCT: The App is made available for your own, personal use. The App must not be used for any commercial purpose whatsoever or for any illegal or unauthorized purpose. When you use the App you must comply with all applicable USA laws and with any applicable international laws, including the local laws in your country of residence (together referred to as “Applicable Laws”).</p>
            <br>
            <p style="font-size: 12px; text-align: left;">You agree that when using the App you will comply with all Applicable Laws and these Terms. In particular, but without limitation, you agree not to:</p>
            <br>
            <p style="font-size: 12px; text-align: left;">(a) Use the App in any unlawful manner or in a manner which promotes or encourages illegal activity including (without limitation) copyright infringement; or</p>
            <br>
            <p style="font-size: 12px; text-align: left;">(b) Attempt to gain unauthorized access to the App or any networks, servers or computer systems connected to the App; or</p>
            <br>
            <p style="font-size: 12px; text-align: left;">(c) Modify, adapt, translate or reverse engineer any part of the App or re-format or frame any portion of the pages comprising the App, save to the extent expressly permitted by these Terms or by law.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">You agree to indemnify SM and its group companies in full and on demand from and against any loss, damage, costs or expenses which they suffer or incur directly or indirectly as a result of your use of the App otherwise than in accordance with these Terms or Applicable Laws.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">3. <b>CONTENT:</b> The copyright in all material contained on, in, or available through the App including all information, data, text, music, sound, photographs, graphics and video messages, the selection and arrangement thereof, and all source code, software compilations and other material (“Material“) is owned by or licensed to SM or its group companies. All rights are reserved. You can view, print or download extracts of the Material for your own personal use but you cannot otherwise copy, edit, vary, reproduce, publish, display, distribute, store, transmit, commercially exploit, disseminate in any form whatsoever or use the Material without SM’s express permission.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">The trademarks, service marks, and logos (“Trade Marks“) contained on or in the App are owned by SM or its group companies or third party partners of SM. You cannot use, copy, edit, vary, reproduce, publish, display, distribute, store, transmit, commercially exploit or disseminate the Trade Marks without the prior written consent of SM or the relevant group company or the relevant third party partner of SM.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">4. <b>LINK TO THIRD PARTIES:</b> The App may contain links to websites operated by third parties (“Third Party Websites“). SM may monetize some of these links through the use of third party affiliate programs. Notwithstanding such affiliate programs, SM does not have any influence or control over any such Third Party Websites and, unless otherwise stated, is not responsible for and does not endorse any Third Party Websites or their availability or contents.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">5. <b>SM PRIVACY POLICY:</b> We take your privacy very seriously. SM will only use your personal information in accordance with the terms of our privacy policy and cookies policy. By using the App you acknowledge and agree that you have read and accept the terms of our app privacy policy and app cookies policy and these Terms.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">6. <b>DISCLAIMER / LIABILITY:</b> USE OF THE APP IS AT YOUR OWN RISK. THE APP IS PROVIDED ON AN “AS IS” BASIS. TO THE MAXIMUM EXTENT PERMITTED BY LAW: (A) SM DISCLAIMS ALL LIABILITY WHATSOEVER, WHETHER ARISING IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE IN RELATION TO THE APP; AND (B) ALL IMPLIED WARRANTIES, TERMS AND CONDITIONS RELATING TO THE APP (WHETHER IMPLIED BY STATUE, COMMON LAW OR OTHERWISE), INCLUDING (WITHOUT LIMITATION) ANY WARRANTY, TERM OR CONDITION AS TO ACCURACY, COMPLETENESS, SATISFACTORY QUALITY, PERFORMANCE, FITNESS FOR PURPOSE OR ANY SPECIAL PURPOSE, AVAILABILITY, NON INFRINGEMENT, INFORMATION ACCURACY, INTEROPERABILITY, QUIET ENJOYMENT AND TITLE ARE, AS BETWEEN SM AND YOU, HEREBY EXCLUDED. IN PARTICULAR, BUT WITHOUT PREJUDICE TO THE FOREGOING, WE ACCEPT NO RESPONSIBILITY FOR ANY TECHNICAL FAILURE OF THE INTERNET AND/OR THE APP; OR ANY DAMAGE OR INJURY TO USERS OR THEIR EQUIPMENT AS A RESULT OF OR RELATING TO THEIR USE OF THE APP. YOUR STATUTORY RIGHTS ARE NOT AFFECTED.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">SM will not be liable, in contract, tort (including, without limitation, negligence), under statute or otherwise, as a result of or in connection with the App, for any: (i) economic loss (including, without limitation, loss of revenues, profits, contracts, business or anticipated savings); or (ii) loss of goodwill or reputation; or (iii) special or indirect or consequential loss.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">IF SM IS LIABLE TO YOU DIRECTLY OR INDIRECTLY IN RELATION TO THE APP, THAT LIABILITY (HOWSOEVER ARISING) SHALL BE LIMITED TO: (A) FIFTY DOLARS ($50.00); OR (B) THE SUMS PAID BY YOU UPON PURCHASING THE APP, OR ANY IN-APP SPEND, INCLUDING SUBSCRIPTIONS, WHICHEVER IS GREATER.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">Nothing in these Terms shall be construed as excluding or limiting the liability of SM or its group companies for death or personal injury caused by its negligence or for any other liability which cannot be excluded by English law.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">7. <b>SERVICE SUSPENSION:</b> SM reserves the right to suspend or cease providing any services relating to the apps published by it, with or without notice, and shall have no liability or responsibility to you in any manner whatsoever if it chooses to do so.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">8. <b>ADVERTISERS IN THE APP:</b> We accept no responsibility for adverts contained within the App. If you agree to purchase goods and/or services from any third party who advertises in the App, you do so at your own risk. The advertiser, not SM, is responsible for such goods and/or services and if you have any queries or complaints in relation to them, your only recourse is against the advertiser.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">9. <b>COMPETITIONS:</b> If you take part in any competition which is run in or through the App (“Competition“), you agree to be bound by the rules of that competition and any other rules specified by SM from time to time (“Competition Rules“) and by the decisions of SM, which are final in all matters relating to the Competition. SM reserves the right to disqualify any entrant and/or winner in its absolute discretion without notice in accordance with the Competition Rules.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">10. <b>IN-APP VOUCHER CODES:</b> Any in-app voucher codes issued by SM may only be used in accordance with our Terms and Conditions for in-app voucher codes.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">11. <b>GENERAL:</b> These Terms (as amended from time to time) constitute the entire agreement between you and SM concerning your use of the App.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">SM reserves the right to update these Terms from time to time. If it does so, the updated version will be effective immediately, and the current Terms are available through a link in the App to this page. You are responsible for regularly reviewing these Terms so that you are aware of any changes to them and you will be bound by the new policy upon your continued use of the App. No other variation to these Terms shall be effective unless in writing and signed by an authorized representative on behalf of SM.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">These Terms shall be governed by and construed in accordance with American Law and you agree to submit to the exclusive jurisdiction of the American Courts.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">If any provision(s) of these Terms is held by a court of competent jurisdiction to be invalid or unenforceable, then such provision(s) shall be construed, as nearly as possible, to reflect the intentions of the parties (as reflected in the provision(s)) and all other provisions shall remain in full force and effect.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">SM’s failure to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision unless acknowledged and agreed to by SM in writing.</p>
            <br>
            <p style="font-size: 12px; text-align: left;">12. <b>CONTACT US:</b> You can contact the SM team at 2100 Coral Way (Suite 404), Miami (FL 33145).  Email: info@nwmeeting.com.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container text-left">
      <div class="row">
        <div class="col-lg-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <h2>NW<span>.</span></h2>
                <p>Beyond Networking</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- Theme JavaScript -->
  <script src="js/nw-landing.js"></script>

</body>

</html>
