<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NW</title>
</head>

<body id="page-top" style="background-color: rgba(158, 158, 158, 0.15);">

  <section id="home" class="download bg-primary text-center" style="background: url(http://nwmeeting.com/img/img-landing-1170x700px.png); background-size: calc(100% + 10px) auto;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" style="text-align-last: center;">
          <img style=" display: block; max-width: 100%; height: auto; " class="logo-home-section" src="http://nwmeeting.com/img/logo400px-01.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section style="text-align: center; padding: 50px 0;">
    <h4>Hello <%= @user.email %>!, </h4>
    <p>Someone has requested a link to change your password. You can do this through the link below.</p>
      <a href=" <%= @url %>#"> Change my password </a></p>
      
      
      <p>If you didn't request this, please ignore this email.</p>
      <p>Your password won't change until you access the link above and create a new one.</p>


  </section>

  <section id="advantages" class="features" style=" padding: 0px; padding-top: 50px; >
    <div class="container">
      <div class="row" style="margin-right: -15px; margin-left: -15px;">
        <div class="col-lg-12" style="position: relative; min-height: 1px; padding-right: 15px;padding-left: 15px;" text-align: center;>
          <div class="section-heading">
            <h2 style="text-align: center; color: #2952a3;font-size: 30px; font-weight: bold; letter-spacing: 0px;">ADVANTAGES</h2>
            <hr style="max-width: 270px; margin: 25px auto 0; border-width: 1px; border-color: rgba(34, 34, 34, 0.1);">
          </div>
        </div>
      </div>
      <div class="row" style="margin-right: -15px; margin-left: -15px;">
        <div class="col-md-12">
          <div class="container-fluid">

            <div class="row" style="margin-right: -15px; margin-left: -15px;">

              <div class="col-md-4" style=" position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; ">
                <div class="row" style="margin-right: -15px; margin-left: -15px;">
                  <div class="col-md-2" style="float: left; width: 16%; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
                    <div class="feature-item" style="text-align: center; margin-bottom: 100px;">
                      <img src="/img/pluma.png" alt="" style="margin-top: 18px; vertical-align: middle;">
                    </div>
                  </div>
                  <div class="col-md-10" style=" width: 83%; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
                    <div class="feature-item" style="text-align: center; margin-bottom: 100px;">
                      <h3 style="text-align: left; font-size: 18px; font-family: 'Montserrat-Bold'; letter-spacing: 0px;">Networking</h3>
                      <p style="color: #777; text-align: left;font-size: 13px; font-family: 'Montserrat-Regular'; letter-spacing: 0px;" class="text-muted">Get in touch with people from different backgrounds and knowledge. Know their professional experiences.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4" style=" position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
                <div class="row" style="margin-right: -15px; margin-left: -15px;">
                  <div class="col-md-2" style="float: left; width: 16%; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
                    <div class="feature-item" style="text-align: center; margin-bottom: 100px;">
                      <img src="http://nwmeeting.com//img/lapiz.png" alt="" style="margin-top: 18px; vertical-align: middle;">
                    </div>
                  </div>
                  <div class="col-md-10" style=" width: 83%; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
                    <div class="feature-item" style="text-align: center; margin-bottom: 100px;">
                      <h3 style="text-align: left; font-size: 18px; font-family: 'Montserrat-Bold'; letter-spacing: 0px;">Strengthen your skills</h3>
                      <p style="color: #777; text-align: left;font-size: 13px; font-family: 'Montserrat-Regular'; letter-spacing: 0px;" class="text-muted" class="text-muted">Show your knowledge and professional skills, make branding. The most important product we sell is ourselves!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4" style=" position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
                <div class="row" style="margin-right: -15px; margin-left: -15px;">
                  <div class="col-md-2" style="float: left; width: 16%; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
                    <div class="feature-item" style="text-align: center; margin-bottom: 100px;">
                      <img src="http://nwmeeting.com/img/megafono.png" alt="" style="margin-top: 18px; vertical-align: middle;">
                    </div>
                  </div>
                  <div class="col-md-10" style=" width: 83%; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
                    <div class="feature-item" style="text-align: center; margin-bottom: 100px;">
                      <h3 style="text-align: left; font-size: 18px; font-family: 'Montserrat-Bold'; letter-spacing: 0px;">Have fun</h3>
                      <p style="color: #777; text-align: left;font-size: 13px; font-family: 'Montserrat-Regular'; letter-spacing: 0px;" class="text-muted">Share a nice moment. Connect with others, learn from them and enjoy!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer style="background-color: #000;padding: 25px 0; color: #fff; text-align: center; width: 100%; display: inline-block;">
    <div class="container text-left" >
      <div class="row" style="    margin-right: -15px; margin-left: -15px;">
        <div class="col-lg-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <h2>NW<span>.</span></h2>
                <p>Beyond Networking</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>
